<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../static/css/demo.css">

    <title>Garys PCs</title>
</head>

<body>
    <nav><a id="returnHome" href="mainscreen.html">Home</a></nav>
    <h1 id="about-title"> About </h1>
    <p id="about-text"> Gary's PCs was founded in 2023. We pride ourselves in offering affordable, customizable, and aesthetic gaming pcs that
        wouldn't be found anywhere else. For those that are looking for cheaper parts for their own custom pc builds, we also offer
        pc parts at a cheaper rate than retail. Should you find a cheaper price elsewhere, we will match it!
    </p>
</body>